@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* overall HTML */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    font-family: "Source Sans Pro", sans-serif;
    background-image: url('/static/houseinteriorex.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background: rgba(180, 198, 166, .75);
    font-family: "Source Sans Pro", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* navbar section */
.navbar-dark {
    background-color: #ea6f39;
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-brand {
    color: #f5f4f3;
    font-family: "Pirata One", serif;
    font-size: 36px;
    font-weight: 400;
}

.navbar-dark .navbar-nav {
    color: #f5f4f3;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}